<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/fruits.png" alt="" width="30" height="30">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav  w-100">
            <li class="nav-item  mr-auto" routerLinkActive ="active">
                <a class="nav-link" [routerLink]="['/home']" >Fruitylicious </a>
            </li>
            <li 
                *ngIf="fruitService.isAutenthicated"
                class="nav-item " routerLinkActive =" active">
                <a class="nav-link" [routerLink]="['/products']">Productos</a>
            </li >
            <li *ngIf="!fruitService.isAutenthicated"
                class="nav-item " routerLinkActive =" active">
                <a class="nav-link btn btn-outline-success mr-1" [routerLink]="['/login']">Sign In</a>
            </li>
            <li *ngIf="!fruitService.isAutenthicated"
                class="nav-item" routerLinkActive =" active">
                <a class="nav-link btn btn-outline-success mr-1" [routerLink]="['/signup']">Sign up</a>
                
            </li >
            <li *ngIf="fruitService.isAutenthicated" 
                class="nav-item" routerLinkActive =" active">
                <a class="nav-link btn btn-outline-danger mr-1" 
                (click)="logOut()">Log Out</a>

            </li>
        </ul>
        
    </div>
</nav>
