            
<div class="container text-center mt-5">
    <div class="row ">
        <div class="col">
            <img src="assets/fruits.png" width="100" height="100" alt="">
            <h1>Sign In</h1>
            <form (ngSubmit)="signInUserAndPass(Form)"
                    #Form="ngForm">
                <div class="form-group">
                  <input name="email"
                        class="form-control"
                        type="email" 
                        [class.is-invalid]="email.invalid && email.touched"
                        [(ngModel)]="usuario.email"                     
                        placeholder="example@example.com"
                        required
                        #email="ngModel">
                  <small  *ngIf="email.invalid && email.touched"
                        class="form-text text-danger">
                      Ingrese usuario válido
                  </small>

                </div>
                <div class="form-group">
                  <input name="password"
                        [(ngModel)]="usuario.password" 
                        [class.is-invalid]="pass.invalid && pass.touched"                     
                        type="password" 
                        required
                        minlength="6"
                        class="form-control"
                        placeholder="password"
                        #pass="ngModel">
                    <small  *ngIf="pass.invalid && pass.touched"
                            class="form-text text-danger">
                            Contraseña de 6 caracteres
                    </small>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success mb-3">Log In</button>  
                    </div>
                </div>
                <button (click)="signInGoogle()" type="button" class="btn btn-primary">Sign in with Google</button>
              </form>

        </div>
    </div>

</div> 
